@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,400,500,600');
*{box-sizing: border-box;}
body{padding: 0;margin: 0;font-family: 'IBM Plex Serif', serif;}
ul li{list-style: none;}
.leftBar{position: fixed;background-color: #eaeaea;height: 100%;padding: 2rem 1rem;}
.leftBar li a{color: black}
.leftBar nav li a.active{color: red;}